.review-title {
  padding: 15px;
  text-align: center;
}

.review-drop-down {
  background-color: white;
}

.review-input-box {
  background-color: white;
  border-radius: 10px;

}

.submit-review-btn {
  border: 2px solid white;
  border-radius: 15px;
  background-color: #FBB7C0;
  width: 200px;
  height: 70px;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;

}

.submit-review {
  display: flex;
  justify-content: center;
}
