.review-title {
  padding: 15px;
  text-align: center;
  margin-top: 10px;
}

.review-drop-down {
  background-color: white;
}

.review-input-box {
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);

}

.submit-review-btn {
  // border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: #333333 ;
  width: 200px;
  height: 70px;
  font-size: 18px;
  font-family: 'Corben', cursive;
  margin-bottom: 10px;
  color: white;
}

.submit-review {
  display: flex;
  justify-content: center;
}

.emoji-wrapper {
  display: flex;
  justify-content: space-between;
}

.emoji-item {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
}

.emoji-selector {
  position: absolute;
  transform: scale(0);


.emoji-selector + label {

}
}

.emoji-selector:checked + label {

}


#review_emoji_amazing + label {
  font-size: 40px;

}

#review_emoji_amazing:checked + label {
  font-size: 55px;
}

#review_emoji_nice + label {
  font-size: 40px;

}

#review_emoji_nice:checked + label {
  font-size: 55px;
}


#review_emoji_average + label {
  font-size: 40px;
}

#review_emoji_average:checked + label {
  font-size: 55px;
}


#review_emoji_angry + label {
  font-size: 40px;
}

#review_emoji_angry:checked + label {
  font-size: 55px;
}

#review_emoji_gross + label {
  font-size: 40px;
}

#review_emoji_gross:checked + label {
  font-size: 55px;
}

.perfect-for-item {
  display: inline-block;
  padding: 5px;
}

.perfect-for-selector {
  position: absolute;
  transform: scale(0);

}

.perfect-for-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  border-radius: 50rem;
  padding: 10px;
  background-color: #F5EE9E;
  color: #FF70B3;
  // border: 1px solid #D0F0C0;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.perfect-for-selector:checked + label {
  background-color: #FF70B3;
  color: white;
}
