.feed-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.review-intro {
  font-size: smaller;
  margin-bottom: 3px;
}

.feed-review {
  margin: 0 auto 10px auto;
  width: 100%;
}

.like-btn, .unlike-btn{
  margin-right: 10px;
}
