.banner {
  background-color: #FADCDC;
  width: 100%;
  text-align: center;

  .avatar-bordered-banner {
    margin: 10px 0;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: black 1px solid;
  }

  h2 {
    padding-bottom: 5px;
  }

  h3 {
    font-size: 9;
  }
}

.add-friend {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.user-show-map {
  height: 230px;
  width: 90%;
  border-radius: 10px;
}

// .tabs-underlined {
//   display: flex;
//   align-items: center;
// }

// .tabs-underlined .tab-underlined {
//   color: black;
//   padding: 8px;
//   margin: 8px;
//   opacity: .4;
//   cursor: pointer;
//   text-decoration: none;
//   border-bottom: 4px solid transparent;
// }

// .tabs-underlined .tab-underlined.active {
//   opacity: 1;
//   border-bottom: 3px solid black;
// }

.mytabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 10px;
  text-align: center;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  order: 1;
  display: none;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.tabs {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.mytabs input[type="radio"]:checked + label {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid black;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: initial;
}

.user-restaurant h3 {
  text-align: left;
}

.text-left-card {
  text-align: left;
}

.form-friend{
  border-radius: 10px ;
  border: 1px solid black;
}

.btn-friend-search{
  background-color: #D0F0C0;
  border-radius: 10px;
  margin-left: 5px;
}

.edit-profile {
  border: none;
  margin: none;
  padding: none;
  background-color: #FADCDC;

  a{
    color: #333333;
  }
}
