<!-- <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> -->
<div class="banner">
  <div class="container pb-5">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
    <h2>User's name</h2>
    <ul class="list-inline tabs-underlined">
      <li>
        <h3><a href="#" id="friends" class="tab-underlined active">Friends</a></h3>
      </li>
      <li>
        <h3><a href="#" id="reviews" class="tab-underlined">Reviews</a></h3>
      </li>
      <li>
        <h3><a href="#" id="wishlist" class="tab-underlined">Wishlist</a></h3>
      </li>
    </ul>



  </div>
</div>
