

<div class="footer">
  <ul class="d-flex justify-content-between">
    <li class="active">
    <%= link_to reviews_path do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    </li>
    <li>
      <%= link_to new_review_path do %>
      <i class="fa-solid fa-plus"></i>
      <% end %>
    </li>
    <li>
      <%= link_to restaurants_path do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </li>
    <li>
    <% if user_signed_in? %>
      <%= link_to user_path(current_user) do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    <% end %>
    </li>
  </ul>
</div>
