<div class="footer mt-auto d-flex justify-content-between">
  <div>
    <ul>
      <li><i class="fa-thin fa-house-blank"></i></li>
      <li><i class="fa-thin fa-plus"></i></li>
      <li><i class="fa-thin fa-magnifying-glass"></i></li>
      <li><i class="fa-thin fa-user"></i></li>
    </ul>
  </div>
</div>
