<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' id="friend-avatar" class="avatar-large" />
  <div class="notification-content">
    <p>Friend's full name</p>
  </div>

</div>
