<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div class="notification-content">
    <p>Friend's full name</p>
  </div>

  <!-- <div class="notification-actions">
    <a href="#">Accept <i class="fa-solid fa-check"></i></a>
    <a href="#">Decline <i class="fa-solid fa-check"></i></a>
  </div> -->
</div>
