<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div class="notification-content">
    <p><%= @user.first_name%> <%=@user.last_name %></p>
  </div>

</div>
