<div class="container">
  <div class="modal fade" id="new-restaurant-modal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@restaurant] do |f| %>

          <h2><%= f.input :name, input_html: {class: "review-input-box restaurant-modal-content" }, label: "Name?" %></h2>
          <h2><%= f.input :cuisine, input_html: {class: "review-input-box review-drop-down restaurant-modal-content" }, label: "Cuisine?", collection: @cuisines.sort %></h2>
          <div class="submit-review">  <%= f.button :submit, class: 'btn submit-review-btn', value: "Add restaurant" %> </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
