<div class="restaurant-card">
  <%= cl_image_tag space.photos.first.key %>
  <div class="restaurant-card-info">
    <div>
      <h2><%= restaurant.name %></h2>
    </div>
    <h2 class="restaurant-card-pricing">£££</h2>
  </div>
</div>
