<div class="restaurant-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="restaurant-card-info">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="restaurant-card-pricing">£99.99</h2>
  </div>
</div>
