<% @reviews.each do |review| %>
  <div class="review-card">
    <div class="review-top-row">
      <div class="avatar-title">
          <i class="fa-regular fa-face-smile me-3 "></i>
          <h2><%= review.title %></h2>
      </div>
    <div class="review-emoji">
        <p><%= Review::EMOJIS.key(review.emoji) %></p>
      </div>
    </div>
      <div class="review-content">
        <p><%= review.content[0, 120]%>...</p>
      </div>
  </div>
<% end %>
