<div class="landing-container">

  <div id="landing-main-content">
    <h1 id="landing-header">Word of Mouth</h1>
    <p>A social media app for sharing restaurant reviews with friends. Put your money where their mouth was.</p>
  </div>

</div>
