<div class="landing-container">

  <div id="landing-main-content">
    <h1 id="landing-header">Word of Mouth</h1>
    <p>An app that celebrates your shared tastes. Put your money where their mouth was.</p>

    <%= link_to "Log in", new_user_session_path, class: "btn landing-btn" %>
    <%= link_to "Sign up",  new_user_registration_path, class: "btn landing-btn" %>

  </div>

</div>
