.footer{
  position:fixed;
  bottom:0;
  width: 100%;
  // background-color:#FBB7C0;
}

.footer ul{
  list-style:none;
  color:#333333;
  padding: 0 10px 0 10px;
}

.footer li{
  display:inline;
}

.fa-solid {
  color:#333333;
}

// i{
//   margin:8px;
// }
