.footer{
  position:fixed;
  bottom:0;
  width: 100%;
  background-color:#FBB7C0;
  border-top: 3px solid black;
}

.footer ul{
  list-style:none;
  color:black;
  padding: 10px 25px 0 25px;
}

.footer li{
  display:inline;
}

.fa-solid {
  color:black;
}

// i{
//   margin:8px;
// }
