.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 10px;
  height: 71px;
  width: 100%;

    i {
      color: black;
    }

    .remove-friend {
      margin-left: 20px;
    }

    .notification-content {
      align-items: center;
      display: flex;
    }

    p {
      margin: 0 0 0 10px;
      text-align: left;
    }
}

.friend-link {
  text-decoration: none;
  color: black;
}
