.restaurant-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.restaurant-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.restaurant-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.restaurant-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.restaurant-card .restaurant-card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// .restaurant-card-info .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
