.review-card {
  overflow: hidden;
  background: white;
  width: 90vw;
  height: 120px;
  padding: 15px;
  border-radius: 10px;
  border: solid black 2px;

    h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 14px;
      opacity: .7;
      margin: 0;
    }
  }

.review-top-row {
  display: flex;
  justify-content: space-between;
}

.avatar-title {
  display: flex;
}

.review-content {
  margin-top: 8px;
}
