.review-card {
  overflow: hidden;
  background: white;
  width: 100%;
  height: 120px;
  padding: 15px;
  border-radius: 10px;
  border: solid black 2px;
  margin: 10px 0;

    h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 14px;
      opacity: .7;
      margin: 0;
    }
  }

.review-top-row {
  display: flex;
  justify-content: space-between;
}

.avatar-title {
  display: flex;
  align-self: center;
  padding-right: 100px;
}

.review-content {
  margin-top: 8px;
}

.review-emoji p {
  font-size: 20px;
}
