.modal-header {
  display: flex;
  border: none;
}

.modal-body h3 {
  text-align: center;
}

.close {
  background-color: white;
  border: none;
  font-size: 20px;
}

.modal {
  width: 80%;
  margin: 30% 10%;

  // display: block !important;
}

.modal-footer {
  display: flex;
  justify-content: center;
  border: none;
}

.btn-learn-more a {
  text-decoration: none;
  color: white;
  font-weight:bolder;
}

.btn-learn-more {
  border-radius: 15px;
  background-color: #333333 ;
  width: 200px;
  height: 30px;
  font-size: 12px;
  margin-bottom: 10px;
  color: white;
}

.review-modal-content {
  padding: 8px;
  text-align: left;
}

.perfect-for-modal-list {
  display: inline-block;
  font-size: 12px;
  border-radius: 50rem;
  padding: 5px;
  background-color: #F5EE9E;
  color: #FF70B3;
  // border: 1px solid #D0F0C0;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  font-weight: bolder;
  margin-top: 10px;
}


/* Important part */
.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 400px;
  overflow-y: auto;
}

.modal-content {
  border-radius: 10px !important;
  border: 2px solid black;
}

.carousel-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10%;
}
