<div class="container mt-3 feed-wrapper">

  <% @reviews.each do |review| %>
    <div class="feed-review">
      <p><%= review.user.first_name %> left a review for <%=review.restaurant.name%>... </p>
      <%= render "shared/review_card", review: review %>
    </div>
  <% end %>

</div>
