<div class="container mt-3 feed-wrapper">

  <% @reviews.each do |review| %>
    <div class="feed-review">
      <p class="review-intro"><strong><%= review.user.first_name %></strong> left a review for <strong><%=review.restaurant.name%></strong>... </p>
      <%= render "shared/review_card", review: review %>
    </div>
  <% end %>

</div>
